/* ----- General rules ----- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-size: 1em;
}

a {
    color: #2e2d2d;
}

a:hover {
    color: #000000;
}

/* ----- navbar ----- */

.navbar-brand span {
    font-family: 'Satisfy', cursive;
    margin-left: 8px;
    font-size: 1.3em;
}

.navbar-brand img {
    width: 25px;
    height: 25px;
}

/* ----- feed ---------- */

.feed-self {
    background: #ffffff;
    margin-top: 60px;
}

.img-perfil img {
    width: 40px;
    height: 40px;
}

.imagem-feed {
    margin: 5px -15px;
}

.feed-time p {
    font-size: 0.9em;
    color: #4d4b4b;
}

.add-icon {
    float: right;
}

.add-photo>input {
    display: none;
}

.add-photo>label:hover {
    cursor: pointer;
}

/* ------- add post ------- */

.new-post {
    background: #ffffff;
}
.add-input {
    padding: 10px;
}

.add-icon>input {
    display: none;
}

/* profile */
.img-perfil2{
    background-color: #ddd;
    border-radius: 100%;
    height: 200px;
    object-fit: cover;
    width: 200px;  
  }

/* register + login */

.box-cadastro{
    width:100vw;
    display:flex;
    justify-content: center;
    padding:2%;
    margin-top:3% 0;
}
.box-cadastro form{
    background: #ffffff;
    width:45vw;
    min-width: 300px;
    min-height:60vh;
    padding:4%;
    border-radius:4px;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.18);
    margin-top: 40px;
}

.label-cadastro {
    padding-bottom: 5px;
    font-size: 13px;
}